
/* dhis blue: #1d5288*/


html {
	/*position: fixed;*/
    height: 100%;
    width: 99%;
    background-color: #F0F0F0;
}


body {
    height: 100%;
    width: 99%;
    text-align: center;
	font-family: arial;
}

/*Responsive Design */
/*Layout for phonesized display */
@media only screen and (max-width: 550px) {
	input.largerCheckbox{
		-transform: scale(2);
		-webkit-transform: scale(2);
		-ms-transform: scale(2);
		-moz-transform: scale(2);
		-o-transform: scale(2);
	}

	.qaTabell { 
		line-height: 30px;
		font-size: 20px;
	}
	.submitButton{
		width:80%; height:30px;
		background-color: #1d5288;
    	border-radius: 5px;
    	padding: 3px 7px 3px 7px;
    	text-decoration: none;
    	color: #F0F0F0;
    	font-family: Arial;
    	font-weight: bold;
    	font-size: 100%;
	}
	.newSelectButton{
		width:80%; height:30px;
		background-color: #1d5288;
    	border-radius: 5px;
    	padding: 3px 7px 3px 7px;
    	text-decoration: none;
    	color: #F0F0F0;
    	font-family: Arial;
    	font-weight: bold;
    	font-size: 100%;

	}
	.hideOnPhone{
		display: none;
	}
	.showOnPhone{
		display: block;
	}
}

@media only screen and (min-width: 551px) {
	input.largerCheckbox{
		-transform: scale(3);
		-webkit-transform: scale(3);
		-ms-transform: scale(3);
		-moz-transform: scale(3);
		-o-transform: scale(3);

	}
	.qaTabell { 
		line-height: 50px;
		font-size: 25px; 
	}
	.submitButton{
		width:20%; height:40px;
		background-color: #1d5288;
    	border-radius: 5px;
    	padding: 3px 7px 3px 7px;
    	text-decoration: none;
    	color: #F0F0F0;
    	font-family: Arial;
    	font-weight: bold;
    	font-size: 150%;
	}
	.newSelectButton{
		display: none;
	}
	
}
/* -END- responsive design */

#qaTable table, th, td {
    /*border: 1px solid;*/
    /*border: dotted 1px black; */

    border-collapse: collapse;
    /*border-color: #0066FF;*/
    margin-top: 2%;
    text-align: center;

}

#qaTable table tr:nth-child(even) td{
	background-color: #7aa6d3;
}

#qaTable table th{
	background-color: #1d5288;
	color: #FFF;
}

/* #id styles */
#toStatistics{
	float: right;
	position: relative;
}

#toIndex{
	float: right;
	position: relative;
}

/*
#banner{
	width: 99%;
	background-color: #1d5288;
	padding: 3px 7px 3px 7px;
	color: #FFF;
}*/

#statisticsTable table {
	display: inline-block;
    border-collapse: collapse;
    margin-top: 2%;
}

#statisticsTable table th{
	background-color: #1d5288;
	color: #FFF;
}

/* link styles */
a:link{
	color: #787878;
}

a:visited{
	color: #606060;
}

a:active{
	color: #6186AC;

}

input[type=text]{
	text-align: center;
    
    font-size: 130%;
    width: 50%;
    height: 5%;
}

select{
	height: 9%;
	width: 50%;
	font-size: 130%;
}