<<<<<<< HEAD
/* dhis blue: #1d5288*/
body {
	text-align: center;
	font-family: arial;
=======
html {
    height: 100%;
    width: 99%;
    background-color: #C9E7E9;
}
>>>>>>> origin/rebeks_apiKall

body {
    height: 100%;
    width: 99%;
    text-align: center;
}
/*Responsive Design */
@media only screen and (max-width: 480px) {
	input.largerCheckbox{
		transform: scale(2);
		webkit-transform: scale(2);
	}

	.qaTabell { 
		line-height: 30px;
		font-size: 20px; 
	}
	.submitButton{
		width:60%; height:30px;
	}
	.hideOnPhone{
		display: none;
	}
}

@media only screen and (min-width: 481px) {
	input.largerCheckbox{
		transform: scale(3);
		webkit-transform: scale(3);
	}
	.qaTabell { 
		line-height: 50px;
		font-size: 25px;  
	}
	.submitButton{
		width:80px; height:40px;
	}
	
}
/* -END- responsive design */

table, th, td {
<<<<<<< HEAD
    border: 1px solid;
=======
    border: dotted 1px black;
>>>>>>> origin/rebeks_apiKall
    border-collapse: collapse;
    border-color: #0066FF;
    margin-top: 2%;
    text-align: center;
<<<<<<< HEAD

}

table tr:nth-child(even) td{
		background-color: #7aa6d3;
}
table th{
	background-color: #1d5288;
	color: #FFF;
}

=======
    height: 5%;
}

input {
	height: 5%;
	width: 50%;
	font-size: 130%;

}

input[type=submit]{
	background-color: #448299;
    border-radius: 5px;
    padding: 3px 7px 3px 7px;
    height: 7%;
    width: 10%;
    text-decoration: none;
    color: #F0F0F0;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 150%;
}

input[type=text]{
	text-align: center;
    
    font-size: 130%;
}

select{
	height: 5%;
	width: 50%;
	font-size: 130%;
}
>>>>>>> origin/rebeks_apiKall
